---
import Layout from "../layouts/Layout.astro"
import Card from '../components/Card.astro';

import { getCollection } from "astro:content";

const blogs = await getCollection('blog');
---

<Layout title="Blog" description="This is the blog page">
	<main class="container mx-auto space-y-8">
		<h1 class="text-7xl font-extrabold text-center">Blog</h1>
		<section class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-8">
			{
				blogs.map((blog) => (
					<Card {...blog.data} />
					)
				)
			}
		</section>
	</main>
</Layout>